<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a class="active" href="/newsession">Create a New Session</a></li>
  <li><a href="#databasemgmt">Database Management</a></li>
  <li><a href="#existingsession">Go to an existing session</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#ffffff;height:1000px;">
<h1>Waiting until texts are compiled.</h1>
<p>Here's what you specified:</p>

<p>Driver's Text: {{drivetxt}}</p>
<p>Rider's Text: {{ridertxt}}</p>
<p>When the texts will be compiled: {{timedateclose}}</p>
<p>Special Requests allowed: {{specialreqs}}</p>

</div>

</body>
</html>